img {
    height: 100vh;
}

/*button {*/
/*    height: 10vh;*/
/*}*/

.buttons {
    padding: 2vh;
}
/*div {*/
/*    border: black 1px solid;*/
/*}*/

.cointainer {
    display: flex;
    flex-direction: row;
}

.button-section {
    padding: 16vh;
}